---
import Layout from "../layouts/Layout.astro"
import Dashboard from "../components/Dashboard"
---

<Layout title='Balance Sheet Online'>
  <main class='bg-white dark:bg-gray-700 dark:text-white h-screen'>
    <Dashboard client:visible/>
  </main>
</Layout>
