---
import Layout from "../layouts/Layout.astro"
import Dashboard from "../components/Dashboard"
---

<Layout title='Financial Report Online'>
  <main class='bg-white dark:bg-gray-700 dark:text-white'>
    <Dashboard client:only='react'/>
  </main>
</Layout>
