---
import Layout from "../layouts/Layout.astro"
---

<Layout title='Privacy & Cookie Policy - FRO'>
  <main class='bg-white dark:bg-gray-700 dark:text-white p-6 md:p-20'>
    <h1 class='font-bold text-4xl'>Privacy & Cookie Policy 🕵🏻</h1>
    <p class='leading-8 mt-5'>
      Uploaded data are available only to the end user. No data of any kind are
      collected. <br />
      The information shown is for demonstration purposes only, with no claim to
      accuracy. The owner of the site does not accept responsibility for the inaccuracy
      of the data shown and the consequences this may bring.
      <br />
      For more information on how the code works look at the
      <a
        href='https://www.github.com/zanottipaolo/EOA-project'
        rel='noreferrer'
        target='_blank'
        class='text-teal-500 hover:text-teal-600 transition-colors'
        >github repository</a
      >
      or contact the developer at <a
        href='mailto:hello@paolozanotti.dev'
        rel='noreferrer'
        target='_blank'
        class='text-teal-500 hover:text-teal-600 transition-colors'
        >hello@paolozanotti.dev</a
      >
    </p>
  </main>
</Layout>
